<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="author" content="Danila Nenashev" />
    <link rel="stylesheet" href="../static/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">

    <title>Error</title>
</head>
<body>
    
    <header class="neucha-regular">

        <a class="link_img" href="home.html">
            <img class="header__img" src="../static/icon_base.png" alt="icon_base">
        </a>

        <div class="Top_menu">
            <ul>
                    <li><a href="home.html">Домашняя страница</a></li>
                    <li><a href="photos.html">Фотографии</a></li>
            </ul>
        </div>

        <div class="Auth_buttons">
            <button class="neucha-regular" onclick="location.href='login.html'">Войти</button>
            <button class="neucha-regular" onclick="location.href='registration.html'">Зарегистрироваться</button>
        </div>

    </header>

    <main class="neucha-regular">
        <h1><strong>Упс. <br>Что-то пошло не так.</strong></h1>
    </main>
    

</body>
</html>