<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Danila Nenashev" />
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/photos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <title>Фотографии</title>
</head>
<body>

    <header class="neucha-regular">

        <a class="link_img" href="home.html">
            <img class="header__img" src="../static/icon_base.png" alt="icon_base">
        </a>

        <div class="Top_menu">
            <ul>
                <li><a href="home.html">Домашняя страница</a></li>
                <li><a href="photos.html">Фотографии</a></li>
            </ul>
        </div>

        <div class="Auth_buttons">
            <button class="neucha-regular" onclick="location.href='login.html'">Войти</button>
            <button class="neucha-regular" onclick="location.href='registration.html'">Зарегистрироваться</button>
        </div>

    </header>

    <main class="photos-content-grid, neucha-regular">
        <section class="photos-intro">
            <h1>Здесь публикуются фотографии.</h1>
        </section>

        <section class="photos-gallery">
            <img src="../static/1.png" alt="1" class="photo-item">
            <img src="../static/2.png" alt="2" class="photo-item">
            <img src="../static/3.png" alt="3" class="photo-item">
            <img src="../static/4.png" alt="4" class="photo-item">
            <img src="../static/5.png" alt="5" class="photo-item">
            <img src="../static/6.png" alt="6" class="photo-item">
            <img src="../static/7.png" alt="7" class="photo-item">
            <img src="../static/8.png" alt="8" class="photo-item">
            <img src="../static/9.png" alt="9" class="photo-item">
            <img src="../static/10.png" alt="10" class="photo-item">
            <img src="../static/11.png" alt="11" class="photo-item">
        </section>
    </main>
    
</body>
</html>
